.main-content {
    max-width: 60vw;
    align-content: center;
    margin: auto;
}

.key-person {
    margin-bottom: 10px;
}

.card-header {
    text-align: center;
}

.key-person-profile {
    display: flex;

}  

.key-person-photo {
    flex: 1;
}

.key-person-photo img {
    width: 200px;
    height: 200px;
}

.key-person-info {
    flex: 2;
    padding: 10px;
    display: flex;
    align-content: center;
}