.login-container {
    display: flex;
    margin: 5%, 20%, 20%, 0;
    justify-content: center;
}

.login-header {
    flex: 2;
    order: 1;
    padding: 20px;
}

.login-form-container {
    flex: 1;
    order: 2;
    border-radius: 5px;
    background-color: var(--pbs-green);
}