.login-container {
    display: flex;
}

.login-header {
    flex: 2;
    order: 1;
}

.login-form-container {
    flex: 1;
    order: 2;
    border-radius: 5px;
    background-color: var(--pbs-green);
}