.main-content {
    /* display: flex;
    flex-direction: column;
    align-items: center; */
    max-width: 60vw;
    align-content: center;
    margin: auto;
}

.pbs-form-text-box {
    min-width: 60vw;
}

.button-wrapper {
    display: flex;
    flex-direction: row;
    float: right;
}

#question {
    min-height: 20vh;
}

#answer {
    min-height: 20vh;
}

.form-wrapper {
    width: 60vw;
}