.main-content {
    display: flex;
    width: 60vw;
    margin: auto;
}

.profile-wrapper {
    width: 100%;
    border: 1px solid var(--pbs-blue);
    border-radius: 20px;
    padding: 20px;
}

table {
    width: 100%;
}

td {
    width: 50%;
    height: 40px;
    padding: 2%;
    font-size: 1.2em;
}

.caption {
    text-align: right;
}

#buttons {
    float: right;
}